<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="fullPage">
  <h2> Sofa

    Set</h2>
  <img id=pic src="assets/sofa.jpg" alt="Flowers in Chania" width="460" height="345" align=left>
  <span class="price">&#8377;60000</span>
  <p class="describe">
    Primary Material:

    Fabric-Leatherette & Foam, Style: Modern, Type: Supersoft
    Color: Camel-Black, Style: Modern, Seating Capacity: Six seat
    These products are shot at location at Furny

    studios and adhere to strict manufacturing processes and quality assurance and eligible for return according to
    guidelines
    Contact Furny for any questions related to

    customization or any other queries Compare with similar items
  </p>

  <div class="custom-select" style="width:100px;">
    <select>
      <option value="0">EMI

        Months</option>
      <option value="1">3 Months</option>
      <option value="2">6 Months</option>
      <option value="3">9 Months</option>

    </select>
    <span>Price on

      EMI=20000</span>
    <button>PayNow
    </button>
  </div>
</div>
</body>

</html>