<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="container">
            <form #changePasswordForm="ngForm">
                <h1 style="text-align:center;color: rgb(78, 34, 34);">Change Password</h1>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter password" #password="ngModel"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required name="userPassword" ngModel>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required" style="color: red;">password is required</div>
                    <div *ngIf="password.errors.pattern" style="color: red;">invalid password</div>
                </div>
                <label for="Conpsw"><b>Confirm Password</b></label>
                <input type="password" ngValidateEqual="passwordFieldName" #confPassword="ngModel"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required placeholder="Confirm Password"
                    name="userConfPassword" ngModel>
                <div *ngIf="confPassword.invalid && (confPassword.dirty || confPassword.touched)">
                    <div *ngIf="confPassword.errors.required" style="color: red;">password is required</div>
                    <div *ngIf="[pass]" style="color: red;">
                        Passwords Don't Match
                    </div>
                </div>
                <br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="myButton" [disabled]="!changePasswordForm.valid?true:false">Save</button>
            </form>
        </div>
    </div>
</body>

</html>