.footer{
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -16px;
  margin-top: -10px;
  margin-bottom: -35px;
  
  
  }