<div class="fullPage">
  <div class="topnav">
    <ul>
      <li><img src="../assets/Finance.jpg" style="padding-right: 20px; height: 60px; float: left;border-radius: 0px;">
      </li>
      <li><a [routerLink]="['/loginLink']" style="float: right;">LOGIN</a></li>
      <li><a [routerLink]="['/registerLink']" style="float: right;">REGISTER</a></li>
      <li><a [routerLink]="['/homeLink']" style="float: right;">HOME</a></li>
    </ul>
  </div>
  <div class="hero">
    <div class="hero-content">
      <p style="text-align: center;">FinServ </p>
      <p>Be smart and reduce your EMI</p>
    </div>
  </div>
  <section id="about" class="section about">
    <h1 class="section-title">Learn About Us</h1>
    <div class="flex-container">
      <div class="flex-item">
        <img src="..\assets\Credit-Card-Hand-512.png" alt="no credit card required" class="section-icon">
        <h3><b>No credit card required</b></h3>
        <p>No credit card is required. Only one time registration fee depending upon card chosen and emi card is
          available after verification</p>
      </div>
      <div class="flex-item">
        <img src="..\assets\loan_in_zero_interest.png" alt="0% EMI interest" class="section-icon">
        <h3><b>0% Interest EMI</b></h3>
        <p>No interest on EMI is charged. Only onle time processing fee of Rs. 100 is charged every time a person by a
          product </p>
      </div>
      <div class="flex-item">
        <img src="..\assets\Computer-Check_List-512.png" alt="emi limit" class="section-icon">
        <h3><b>EMI limit</b></h3>
        <p>A person can buy as many product a person within the limit of emi card and monthly EMI will be decuted frm
          the registered bank account</p>
      </div>
    </div>
  </section>
</div>