<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="container">
            <h1 style="text-align:center;color: rgb(78, 34, 34);">Forget Password</h1>
            <form #forgetForm="ngForm">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email Address" #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required name="userEmail" ngModel>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required" style="color: red;">email is required</div>
                    <div *ngIf="email.errors.pattern" style="color: red;">invalid email</div>
                </div>
                <pre>                    <b>OR</b></pre>
                <label for="mobile"><b>Mobile No.</b></label>
                <input type="number" placeholder="Enter Mobile number" #mobile="ngModel" required minlength="10"
                    pattern="\d{10}" maxlength="10" name="userMobile" ngModel>
                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                    <div *ngIf="mobile.errors.required" style="color: red;">Mobile No is required</div>
                    <div *ngIf="mobile.errors.pattern" style="color: red;">Mobile No is not valid</div>
                </div>
                <br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="myButton" [disabled]="!forgetForm.valid?true:false">Get Otp</button>
            </form>
            <br /><br /><br /><br />
            <form #verifyForm="ngForm">
                <label for="Otp"><b>Enter Otp</b></label>
                <input type="number" placeholder="Enter Otp" #otp="ngModel" required pattern="\d{6}" name="userOtp"
                    ngModel>
                <div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
                    <div *ngIf="otp.errors.required" style="color: red;">Otp is required</div>
                    <div *ngIf="otp.errors.pattern" style="color: red;">Otp is not valid</div>
                </div>
                <br /><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="myButton" [disabled]="!verifyForm.valid?true:false">Verify Otp</button>
                <a [routerLink]="['/changePasswordLink']"> change password</a>
            </form>
        </div>
    </div>
</body>

</html>